Binaries
DerivedDataCache
Intermediate
Saved
Build
Platforms/HoloLens
Plugins/Developer/RiderLink/
Devops/config.bat

.vsconfig
.vscode
.vs
.idea/
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
*.log

DefaultProject.sln.DotSettings.user